<div class="header row u-full-width">
  <img class="u-pull-left logo" ng-click="cal.routeHome()" src="app/styles/cosmonauts.jpeg">
  <h1 class="title" ng-click="cal.routeHome()">Cosmotle</h1>
</div>

<div class="container calendar">
  <form>
    <div class="row" ng-if="!cal.new">
      <div class="six columns">
        <label class="twelve columns" for="eventId">Event Id</label>
        <input class="twelve columns" id="EventId" ng-model="cal.event._id.$oid">
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <label class="twelve columns" for="updateUser">Who Are You?</label>
        <select class="twelve columns" ng-model="cal.event.name" class="u-full-width" id="updateUser">
          <option value="">Select User</option>
          <option value="John">John</option>
          <option value="Kim">Kim</option>
          <option value="Dave">Dave</option>
          <option value="Nahom">Nahom</option>
          <option value="Matt">Matt</option>
          <option value="Jairo">Jairo</option>
          <option value="Peter">Peter</option>
        </select>
      </div>
    </div>
    <div class="row">
      <label class="twelve columns" >When are you going to Chipotle?</label>
      <div class="cal-month u-pull-left">
        <label class="u-full-width" for="month">Month</label>
        <select class="u-full-width" ng-model="cal.event.month" id="month">
          <option value="07">July</option>
          <option value="08">August</option>
          <option value="09">September</option>
        </select>
      </div>
      <div class="cal-date u-pull-right">
        <label class="u-full-width" for="date" >Date</label>
        <select class="u-full-width" ng-model="cal.event.date" id="date">
          <option value="01">1</option>
          <option value="02">2</option>
          <option value="03">3</option>
          <option value="04">4</option>
          <option value="05">5</option>
          <option value="06">6</option>
          <option value="07">7</option>
          <option value="08">8</option>
          <option value="09">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>
        </select>
      </div>
    </div>
    <div class="row" ng-if="cal.new">
      <input ng-click="cal.back()" class="button-red cal-btn u-pull-left" type="button" value="Cancel"><input ng-click="cal.submit()" class="button-green cal-btn u-pull-right" type="button" value="Submit">
    </div>
    <div class="row" ng-if="!cal.new">
      <input ng-click="cal.backToAdd()" class="button-red cal-btn u-pull-left" type="button" value="Cancel"><input ng-click="cal.updateEvent()" class="button-green cal-btn u-pull-right" type="button" value="Update">
    </div>
  </form>
  <div ng-if="cal.calendar.length > 0">
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="event in cal.calendar | orderBy:['-month','-date']">
          <td>{{event.name}}</td>
          <td>{{event.month}}/{{event.date}}</td>
          <td><img class="event-img" src="app/styles/refresh.svg" ng-click="cal.showUpdate(event)" ></td>
          <td><img class="event-img" src="app/styles/cancel.svg" ng-click="cal.deleteEvent($index, event)"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>