<div class="header row u-full-width">
	<img class="u-pull-left logo" src="app/cosmonauts.png">
	<h2 class="title">Cosmotle</h1>
</div>
<div class="container">
	<form>
	  <div class="row">
	    <div class="twelve columns">
	      <label for="user">Who Are You?</label>
	      <select ng-model="g.user" class="u-full-width" id="user">
	      	<option value="">Select User</option>
	        <option value="John">John</option>
	        <option value="Kim">Kim</option>
	        <option value="Dave">Dave</option>
	        <option value="Nahom">Nahom</option>
	        <option value="Matt">Matt</option>
	        <option value="Jairo">Jairo</option>
	        <option value="Peter">Peter</option>
	      </select>
	    </div>
	  </div>
	  <input ng-click="g.creditUser('expense')" class="button-green u-full-width" type="button" value="Expense">
	  <input ng-click="g.creditUser('free')" class="button-primary u-full-width" type="button" value="Free">
	  <input ng-click="g.creditUser('attendence')" class="u-full-width" type="button" value="Attendence">
	  <input ng-click="g.back()" class="button-red u-full-width" type="button" value="Cancel">
	</form>
</div>