<div class="header row u-full-width">
	<img class="u-pull-left logo" src="app/styles/cosmonauts.jpeg">
	<img ng-click="c.add()" class="u-pull-right add-icon" src="app/styles/tortilla-yellow.svg">
	<h1 class="title">Cosmotle</h1>
</div>
<div class="container">
	<div class='total-credit'>
		Total Credit: {{c.totalCount}}
	</div>
	<div class="calendar" id="calendar">
		<table class="calendarGrid">

			<tr>
				<td class="header" ng-repeat="event in c.calendar"><p>{{event.date}}</p></td>

			</tr>
			<tr>
				<td ng-repeat="event in c.calendar" ng-click="c.editEvent(event)"><div>{{event.name}}</div></td>

			</tr>
		</table>
	</div>

	<div class="cat-title" ng-click="c.toggleStats('expense')">Expense</div>
	<div ng-if="c.toggleExpense">
		<table class="u-full-width">
		  <thead>
		    <tr>
		      <th>Name</th>
		      <th>Count</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="e in c.expense">
		      <td>{{e.name}}</td>
		      <td>{{e.count}}</td>
		    </tr>
		  </tbody>
		</table>
	</div>
	<div class="cat-title" ng-click="c.toggleStats('free')">Free</div>
	<div ng-if="c.toggleFree">
		<table class="u-full-width">
		  <thead>
		    <tr>
		      <th>Name</th>
		      <th>Count</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="f in c.free">
		      <td>{{f.name}}</td>
		      <td>{{f.count}}</td>
		    </tr>
		  </tbody>
		</table>
	</div>
	<div class="cat-title" ng-click="c.toggleStats('events')">Upcoming Duty Days</div>
	<div ng-if="c.toggleUpcomingEvents">
		<a class="u-pull-right" href="/#/calendar">Add An Event!</a>
		<table class="u-full-width">
			<thead>
		    <tr>
		      <th>Name</th>
		      <th>Date</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="event in c.unorganizedCalendar">
		      <td>{{event.name}}</td>
		      <td>{{event.month}}/{{event.date}}</td>
		    </tr>
		  </tbody>
		</table>
	</div>
</div>